<div class="container-fluid p-t-15">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                   7 Days Incomming Call's Report 
                </h4>
            </div>
            <div class="card-content">
                  <div #incommingChart></div>
            </div>
            <!-- <div class="card-footer">
              <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Tesla Model S
                  <i class="fa fa-circle text-warning"></i> BMW 5 Series
                  <i class="fa fa-circle text-danger"></i>
              </div>
          </div> -->
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                  7 Days Out Going Call's Report 
                </h4>
            </div>
            <div class="card-content">
                  <div #outgoingChart></div>
            </div>
            <!-- <div class="card-footer">
              <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Tesla Model S
                  <i class="fa fa-circle text-warning"></i> BMW 5 Series
                  <i class="fa fa-circle text-danger"></i>
              </div>
          </div> -->
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                   7 Days Incomming Call's Report 
                </h4>
            </div>
            <div class="card-content">
              <div class="ct-chart" id="incommingChartActivity"></div>
             </div>
             <!-- <div class="card-footer">
              <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Tesla Model S
                  <i class="fa fa-circle text-warning"></i> BMW 5 Series
                  <i class="fa fa-circle text-danger"></i>
              </div>
          </div> -->
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                  7 Days Out Going Call's Report 
                </h4>
            </div>
            <div class="card-content">
              <div class="ct-chart" id="outGoingChartActivity"></div>
          </div>
          <!-- <div class="card-footer">
              <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Tesla Model S
                  <i class="fa fa-circle text-warning"></i> BMW 5 Series
                  <i class="fa fa-circle text-danger"></i>
              </div>
          </div> -->
        </div>
    </div>
  </div>
 
</div>