<!--

    Phone number : 12012150177
Password : Hello.123#
-->
<nav class="navbar navbar-transparent navbar-absolute">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2" (click)="sidebarToggle()">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ruterLinkActive = "active" [routerLink]="['/login']">Eurotelia</a>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a ruterLinkActive = "active" [routerLink]="['/register']">
                      Register
                  </a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<div class="wrapper wrapper-full-page">
  <div class="full-page login-page" data-color="" data-image="../../assets/img/background/background-2.jpg">
  <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
      <div class="content">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form [formGroup]="myForm" (ngSubmit)="login(myForm)">
                          <div class="card" data-background="color" data-color="blue">
                              <div class="card-header">
                                  <h3 class="card-title">Login</h3>
                              </div>
                              <div class="card-content">
                                  
                                  <div class="form-group">
                                      <label>Phone Number</label>
                                      <div class="intl-tel-input allow-dropdown">
                                        <div class="flag-container" dropdown>
                                            <div class="selected-flag dropdown-toggle" dropdownToggle>
                                                <div class="iti-flag" [ngClass]="selectedCountry.flagClass"></div>
                                                <div class="iti-arrow"></div>
                                            </div>
                                            <ul class="country-list dropdown-menu" *dropdownMenu>
                                                <li class="country" *ngFor="let country of allCountries" (click)="onCountrySelect(country, focusable)">
                                                    <div class="flag-box">
                                                        <div class="iti-flag" [ngClass]="country.flagClass"></div>
                                                    </div>
                                                    <span class="country-name">{{country.name}}</span>
                                                    <span class="dial-code">+{{country.dialCode}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="tel" id="phoneNumber"  name="phoneNumber" formControlName="phoneNumber" class="form-control input-no-border" autocomplete="off"
                                        (keypress)="onInputKeyPress($event)"  [placeholder]="selectedCountry.placeHolder" #focusable>
                                        <div *ngFor="let validation of validationMessages.phoneNumber">
                                            <div class="error-message" *ngIf="hasValidationError(validation, 'phoneNumber')">{{validation.message}}</div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                      <label>Password</label>
                                      <input type="password" placeholder="Password" name="password" id="password" formControlName="password" class="form-control input-no-border">
                                      <div *ngFor="let validation of validationMessages.password">
                                        <div class="error-message" *ngIf="hasValidationError(validation, 'password')">{{validation.message}}</div>
                                    </div>
                                  </div>
                              </div>
                              <div class="card-footer text-center">
                                  <button type="submit" class="btn btn-fill btn-wd ">Let's go</button>
                                  <div class="forgot">
                                      <a href="#pablo">Forgot your password?</a>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>

      <footer class="footer footer-transparent">
          <div class="container">
              <div class="copyright">
                  &copy; {{test | date: 'yyyy'}}, Eurotelia
              </div>
          </div>
      </footer>
  </div>
</div>
