<div class="container-fluid p-t-15">
    <div class="row header-card">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="numbers">
                                <p>Account Balance </p>
                                $22
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="numbers">
                                <p>Today Usage</p>
                                $1,345
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="numbers">
                                <p>Packages</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="numbers">
                                <p>+9177778899845</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">
                      Today Incomming Call`s Countrys
                  </h4>
              </div>
              <div class="card-content">

              </div>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">
                      Today Out Going Call`s Countrys
                  </h4>
              </div>
              <div class="card-content">

              </div>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Today Incomming Numbers
                    </h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                              <th>Time</th>
                              <th>Number</th>
                              <th>Duration</th>
                            </tr>
                        </thead>
                      <tbody>
                              <tr>
                                  <td>11:30</td>
                                  <td>+917778899845</td>
                                  <td>01:30:15</td>
                              </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Today Out Going Numbers
                    </h4>
                </div>
                <div class="card-content table-responsive table-full-width">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                              <th>Time</th>
                              <th>Number</th>
                              <th>Duration</th>
                            </tr>
                        </thead>
                      <tbody>
                              <tr>
                                  <td>11:30</td>
                                  <td>+917778899845</td>
                                  <td>01:30:15</td>
                              </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
</div>